<div class="d-flex justify-content-between">
  <h1>Routines</h1>
  <div>
    <a href="/routines/create" class="btn btn-success">Add</a>
  </div>
</div>

{{#if routines}}
  <nav>
    <ul class="list-group">
      {{#each routines as |routine|}}
        <li class="list-group-item">
          <a href="/routines/{{routine.id}}" class="text-decoration-none">
            {{routine.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
{{else}}
  <p>It looks like you haven't created any routines yet. Click "Add Routine" to
    get started.</p>
{{/if}}